<div>
  <mat-toolbar color="primary" class="toolbar" class="mat-elevation-z10">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <button mat-button routerLink="/cards-inicio" *ngIf="login == 'true'"><img src="/assets/img/logo_1.png" id="logo"></button>
    <button mat-button (click)="logoff()" *ngIf="login == 'true'">
      <mat-icon>logout</mat-icon>
    </button>
    <mat-icon *ngIf="login == 'true'">done</mat-icon>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="sidenav">
    <mat-sidenav color="primary" #sidenav fxLayout="column">
      <div class=".mat-sidenav-content" fxLayout="column">
        <ul>
          <li><button mat-button routerLink="/login" *ngIf="login == null" (click)="sidenav.close()">Login<mat-icon>login</mat-icon></button></li>
          <li><button mat-button routerLink="/registro" *ngIf="login == null" (click)="sidenav.close()">Registro<mat-icon>account_boxs</mat-icon></button></li>
          <li><button mat-flat-button [matMenuTriggerFor]="menu" *ngIf="login == 'true'">Opciones del sitio</button></li>
          <li><button mat-flat-button [matMenuTriggerFor]="adminMenu" *ngIf="admin == 'true'">Panel de control admin</button></li>
        </ul>
      </div>

      <mat-menu #adminMenu="matMenu" class="mat-menu" >
        <button mat-button routerLink="/gestionar-usuarios" (click)="sidenav.close()">Gestionar usuarios</button>
        <button mat-button routerLink="/anadir-usuarios" (click)="sidenav.close()">Añadir usuarios</button>
        <button mat-button routerLink="/revisar-comentarios-eliminados" (click)="sidenav.close()">Comentarios eliminados</button>
        <button mat-button routerLink="/revisar-comentarios" (click)="sidenav.close()">Comentarios publicados</button>
      </mat-menu>

      <mat-menu #menu="matMenu" class="mat-menu">
        <ul>
          <li><button mat-button routerLink="/temporadaEnCurso" (click)="sidenav.close()">Temporada en curso</button></li>
          <li><button mat-button routerLink="/pilotos" (click)="sidenav.close()">Pilotos</button></li>
          <li><button mat-button routerLink="/pilotos-seguidos" (click)="sidenav.close()">Pilotos Seguidos</button></li>
          <li><button mat-button routerLink="/clasificacion-actualizada" (click)="sidenav.close()">Clasificacion actualizada</button></li>
        </ul>
      </mat-menu>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>


