#logo {
  width: 250px;
  padding: 0;
  margin: 0
}

.mat-toolbar {
  height: 7vh;
}

a {
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}


button {
  font-size: 110%;
  min-width: min-content;
}


.mat-sidenav-container{
  min-height: 93vh !important;
}
