<mat-toolbar color="primary">
  <button mat-button routerLink="/">Multi21</button>
  <mat-menu #menu="matMenu">
    <button mat-button routerLink="/temporadaEnCurso">Temporada en curso</button>
  </mat-menu>
  <mat-menu #adminMenu="matMenu">
    <button mat-button routerLink="/gestionar-usuarios">Gestionar usuarios</button>
    <button mat-button routerLink="/anadir-usuarios">Añadir usuarios</button>
  </mat-menu>

  <button mat-button routerLink="/login" *ngIf="login == null">Login<mat-icon>login</mat-icon></button>
  <button mat-button routerLink="/registro" *ngIf="login == null">Registro<mat-icon>account_boxs</mat-icon></button>
  <button mat-flat-button [matMenuTriggerFor]="menu" color="primary" *ngIf="login == 'true'">Opciones del sitio</button>
  <button mat-flat-button [matMenuTriggerFor]="adminMenu" color="primary" *ngIf="admin == 'true'">Panel de control admin</button>
  <button mat-button (click)="logoff()" *ngIf="login == 'true'"><mat-icon>logout</mat-icon></button>
  <mat-icon *ngIf="login == 'true'">done</mat-icon>
</mat-toolbar>
<router-outlet></router-outlet>
