table {
  width: 100%;
  margin:1rem auto;
}

caption{
  margin-bottom: 20px;
  font-weight: bold;
}

.contenedorTabla {
  display: flex;
  flex-direction: column;
  margin: 5%;
}


th, td{
  text-align: center;
}

.panelComentarios{
  width: 70%;
  margin: auto;
  padding-bottom: 25px;
}

@media screen and (max-width: 1280px) {
  .contenedorTabla {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  table {
    width: 80%;
    margin:1rem auto;
  }
}
