<div class="contenedor">
  <h3>Añade la temporada a tu calendario</h3>
  <mat-card class="tarjeta">
    <mat-card-content>
      <h3>Para móviles o escritorio</h3>
      <p>Actualizando calendario automáticamente para aplicaciones como Outlook y macOS Calendar.</p>
      <button mat-raised-button color="primary"><a href="webcal://files-f1.motorsportcalendars.com/es/f1-calendar_p1_p2_p3_qualifying_sprint_gp.ics">Obtener</a></button>
    </mat-card-content>
  </mat-card>
  <mat-card class="tarjeta">
    <mat-card-content>
      <h3>Para Google Calendar</h3>
      <button mat-raised-button color="primary"><a href="https://www.google.com/calendar/render?cid=webcal://files-f1.motorsportcalendars.com/es/f1-calendar_p1_p2_p3_qualifying_sprint_gp.ics">Obtener</a></button>
    </mat-card-content>
  </mat-card>
</div>
