.contendorSelector{
  margin: 50px;
  margin-bottom: 0px;
  width: 400px;
}

table {
  width: 100%;
  margin:1rem auto;
}

caption{
  margin-bottom: 20px;
  font-weight: bold;
}

.contenedorTabla {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

th, td{
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .contenedorTabla {
    display: flex;
    flex-direction: column;
  }

  table {
    width: 80%;
    margin:1rem auto;
  }
}
