<div class="contenedor">
  <mat-card class="tarjeta">
    <img mat-card-image src="/assets/img/img1.jpg">
    <mat-card-content>
      <h3>Temporada en curso</h3>
      <p>Busca, comenta y visualiza los resultados de las carreras de la temporada</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="tarjeta">
    <img mat-card-image src="/assets/img/img2.jpg">
    <mat-card-content>
      <h3>Pilotos</h3>
      <p>Sigue a tus pilotos favoritos.</p>
    </mat-card-content>
  </mat-card>
</div>
