<mat-form-field class="container">
  <mat-select placeholder="Circuito" name="operacion" #round>
    <mat-option *ngFor="let carrera of carreras.MRData.RaceTable.Races" [value]="carrera.round">
      {{carrera.round}}º {{carrera.Circuit.circuitName}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="buscar(round.value)">Buscar</button>


<table>
  <tr><th>Posicion</th><th>Piloto</th><th>Escudería</th><th>Pos. Salida</th><th>Status</th><th>Puntos</th></tr>
  <tr *ngFor="let resultado of arrCarrSelec">
    <td>{{ resultado.posicion }}</td>
    <td>{{ resultado.piloto }}</td>
    <td>{{ resultado.escuderia }}</td>
    <td>{{ resultado.posSalida }}</td>
    <td>{{ resultado.status }}</td>
    <td>{{ resultado.puntos }}</td>
  </tr>


</table>


