.contendorSelector{
  margin: 50px;
  margin-bottom: 0px;
  width: 400px;
}

table {
  width: 100%;
  margin:1rem auto;
}

caption{
  margin-bottom: 20px;
  font-weight: bold;
}

.contenedorTabla {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  margin: 2%;
}

th, td{
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .contenedorTabla {
    display: flex;
    flex-direction: column;
  }

  table {
    width: 80%;
    margin:1rem auto;
  }

  .contendorSelector{
    display: block;
    margin: auto;
  }
}
